* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  letter-spacing: 0.06rem;
  -webkit-tap-highlight-color: transparent;
}

body {
  width: 100%;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
